
<nav class="nav navbar-default navbar-fixed-top">
   <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand outline">
			<sapn class="glyphicon glyphicon-hand-right"></span>
         <!-- img style="height:23px" src="<%= settings.logo %>" -->
		</a>
		<button type="button" class="navbar-toggle collapsed" aria-expanded="false" data-target="#good-bye" data-toggle="collapse">
            <span class="sr-only">(this is for space!)</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
        </div>
      <div class="navbar-collapse collapse"  id="good-bye">
     <ul class="navbar-nav nav">
        {% if args and args['location'] == "home"  %}
        <li class="active"><a href="/">HOME</a></li>
        <li><a href="/blogs">BLOGS</a></li>
        {%  elif args and args['location'] == "blogs" %}
        <li><a href="/">HOME</a></li>
        <li class="active"><a href="/blogs">BLOGS</a></li>
        {% else %}
		<li><a href="/">HOME</a></li>
		<li><a href="/blogs">BLOGS</a></li>
		{% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
           <a href="#" data-toggle="dropdown" class="dropdown-toggle">
              <span class="glyphicon glyphicon-user"></span>
              <span class="caret"></span>
           </a>
           <ul class="dropdown-menu">
			  {% if not current_user.id %}
              <li> <a href="#" data-toggle="modal" data-target="#logindiag">登录</a></li>
              <li> <a href="#" data-toggle="modal" data-target="#regdiag">注册</a></li>
			  {% else %}
              <li> <a href="/myinfo">我的信息</a></li>
              <li> <a href="/logout">登出</a></li>
			  {% endif %}
		   </ul>
        </li>
      </ul>
      </div>
   </div>
</nav>
{% include 'log_reg.html' %}
